In [1]:
import os
print(os.listdir('.'))

# Meu pandinhas (dados)
import pandas as pd 

# Trabalhar com matrizes
import numpy as np

# ANALISES GRÁFICAS
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px # Corrigido: era plotly

# Ignorar avisos
import warnings # Corrigido: import minúsculo e sem espaço
warnings.filterwarnings("ignore")

# Pandas eu quero ver até 100 linhas hein
pd.set_option('display.max_rows', 100)

# colunas agr hein pandinhas

pd.set_option('display.max_columns', 100)

#ajustes no matplotlib
plt.rcParams['figure.figsize'] = (15, 6) #Tamanho padrão dos gráficos 
plt.style.use('seaborn-v0_8-darkgrid') #Estilos dos gráficos

['.venv', 'Arquivos', 'Books.csv', 'Moldelagem.ipynb', 'Ratings.csv', 'tab_pronta.csv', 'Users.csv', 'Vizualizacao.ipynb']

In [2]:
#Primeiras linhas

Livros = pd.read_csv('Books.csv')
Avaliacao = pd.read_csv('Ratings.csv')
Usuarios = pd.read_csv('Users.csv')

#dimensao dos dados

Livros.shape, Avaliacao.shape, Usuarios.shape

((271360, 8), (1149780, 3), (278858, 3))

In [3]:

#Veridfcando as primeiras linhas de avaliacao
Livros.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
#Informações 
Livros.info()

<class 'pandas.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  str
 1   Book-Title           271360 non-null  str
 2   Book-Author          271358 non-null  str
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  str
 5   Image-URL-S          271360 non-null  str
 6   Image-URL-M          271360 non-null  str
 7   Image-URL-L          271357 non-null  str
dtypes: object(1), str(7)
memory usage: 16.6+ MB

In [5]:
#Veridfcando as primeiras linhas de avaliacao
Avaliacao.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
#Informações 
Avaliacao.info()

<class 'pandas.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  str
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), str(1)
memory usage: 26.3 MB

In [7]:
##MODELAGEM DE DADOS 

#1 cruzamento

tab_cruzada = Livros.merge(Avaliacao, how= 'inner', on='ISBN')


#2 cruzamento 

tab_cruzada = tab_cruzada.merge(Usuarios, how='inner', on='User-ID')

#dIMENSAO
tab_cruzada.shape

(1031136, 12)

In [8]:
#verificar

tab_cruzada.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0,"sudbury, ontario, canada",NaN

In [9]:
'''
Investigação dos dados incorretos na coluna Year-of-Publication

tab_cruzada.loc[tab_cruzada['Year-Of-Publication'] == 'DK Publishing Inc']

# Mostra todos os anos únicos em ordem crescente
print(sorted(tab_cruzada['Year-Of-Publication'].unique()))

tab_cruzada.iloc[352500, 3] = np.nan

'''


#sjustando o registro incorreto

import numpy as np

# Substituindo o texto vazio pelo nulo numérico correto
tab_cruzada.iloc[287500, 3] = np.nan
tab_cruzada.iloc[352361, 3] = np.nan
tab_cruzada.iloc[467962, 3] = np.nan
tab_cruzada.iloc[469216, 3] = np.nan

#converter a coluna ano

tab_cruzada['Year-Of-Publication'] = pd.to_numeric(tab_cruzada['Year-Of-Publication'], errors='coerce')

In [10]:
#formato das colunas

tab_cruzada.dtypes

ISBN                       str
Book-Title                 str
Book-Author                str
Year-Of-Publication    float64
Publisher                  str
Image-URL-S                str
Image-URL-M                str
Image-URL-L                str
User-ID                  int64
Book-Rating              int64
Location                   str
Age                    float64
dtype: object

In [11]:
#Verfificando
tab_cruzada['Location'].head(5)

#Verfificando
tab_cruzada['Location'].tail(5)

1031131       providence, rhode island, usa
1031132                     orem, utah, usa
1031133    hopewell junction, new york, usa
1031134    hopewell junction, new york, usa
1031135    hopewell junction, new york, usa
Name: Location, dtype: str

In [12]:
#Tratamento de texto
def Extrair_Pais(Regiao):
    # Tudo que está dentro da função deve ter exatamente o mesmo recuo (4 espaços ou 1 Tab)
    Registro = Regiao.split(',')
    fracao = Registro[-1]
    return fracao.strip()

tab_cruzada['Pais'] = tab_cruzada['Location'].apply (Extrair_Pais)

#verificando

tab_cruzada.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age,Pais
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0,usa
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN,canada
2,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.0,canada
3,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8,"n/a, n/a, n/a",NaN,n/a
4,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0,"sudbury, ontario, canada",NaN,canada

In [13]:
'''
Lista_Paises = 'venice, florida, usa'

Lista_Paises.split(',')[-1]

'''

"\nLista_Paises = 'venice, florida, usa'\n\nLista_Paises.split(',')[-1]\n\n"

In [14]:
#unique

tab_cruzada.nunique()

ISBN                   270151
Book-Title             241071
Book-Author            101587
Year-Of-Publication       116
Publisher               16729
Image-URL-S            269842
Image-URL-M            269842
Image-URL-L            269839
User-ID                 92106
Book-Rating                11
Location                22480
Age                       141
Pais                      288
dtype: int64

In [20]:
#renomer as colunas 

# Renomear respeitando as maiúsculas originais que aparecem no seu print
tab_cruzada.rename(columns={
    'Book-Title': 'titulo_do_livro',
    'Book-Author': 'autor_do_livro',
    'Year-Of-Publication': 'ano_de_publicacao',
    'Publisher': 'editora',
    'User-ID': 'id_do_usuario',
    'Book-Rating': 'Avaliacao',
    'Location': 'Localizacao',
    'Age': 'idade'
}, inplace=True)

# Agora sim, verifique se mudou
print(tab_cruzada.columns)

#verificar
tab_cruzada.columns

Index(['ISBN', 'titulo_do_livro', 'autor_do_livro', 'ano_de_publicacao',
       'editora', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'id_do_usuario',
       'Avaliacao', 'Localizacao', 'idade', 'Pais'],
      dtype='str')

Index(['ISBN', 'titulo_do_livro', 'autor_do_livro', 'ano_de_publicacao',
       'editora', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'id_do_usuario',
       'Avaliacao', 'Localizacao', 'idade', 'Pais'],
      dtype='str')

In [ ]:
tab_cruzada.to_csv('tab_pronta.csv', index=False)